body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 562.5%;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    width: 200px;
    right: 100px;
    top: 100px;
}

.bottom-cloud {
    position: absolute;
    width: 200px;
    left: 100px;
}

.andrew-img {
    width: 30%;
}

.gcp-img {
    width: 40%;
}